.animate__zoomIn, .animate__fadeIn {
  overflow: visible;
}

.banner, .banner .col, .banner .row {
  overflow: visible;
}

.r3f-wrap {
  width: 100%;
  height: 60vh;
  min-height: 420px;
}

.r3f-wrap > canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}
.banner, .banner .row, .banner .col { overflow: visible; }
.banner,
.banner * {
  overflow: visible !important;
}

.r3f-wrap {
  position: relative;
  overflow: visible;
}
